1. String basics
2. Introduction to stringr
3. Pattern matching with regular expressions
4. More advanced matching and manipulation
5. Case studies

# 1. String basics

## Welcome - Video

Quotes

Let's get started by entering some strings in R. In the video you saw that you use quotes to tell R to interpret something as a string. Both double quotes (") and single (') quotes work, but there are some guidelines for which to use.

First, you should prefer double quotes (") to single quotes ('). That means, whenever you are defining a string your first intuition should be to use ".

Unfortunately if your string has " inside it, R will interpret the double quote as "this is the end of the string", not as "this is the character "". This is one time you can forget the first guideline and use the single quote, ', to define the string.

Finally, there are cases where you need both ' and " inside the string. In this case, fall back to the first guideline and use " to define the string, but you'll have to escape any double quotes inside the string using a backslash (i.e. \").

To practice, you are going to enter a few lines from Lewis Carroll's Alice's Adventures in Wonderland. Alice has just arrived at the tea party...

Instructions
Following the guidelines for using quotes, define the three strings, line1, line2 and line3:

 - Line 1: The table was a large one, but the three were all crowded together at one corner of it:
 - Line 2: "No room! No room!" they cried out when they saw Alice coming.
 - Line 3:"There's plenty of room!" said Alice indignantly, and she sat down in a large arm-chair at one end of the table.

In [1]:
# Define line1
line1 <- "The table was a large one, but the three were all crowded together at one corner of it:"

# Define line2
line2 <- '"No room! No room!" they cried out when they saw Alice coming.'

# Define line3
line3 <- "\"There's plenty of room!\" said Alice indignantly, and she sat down in a large arm-chair at one end of the table."

### What you see isn't always what you have

Take a look at line2, the string you just defined, by printing it:

line2
Even though you used single quotes so you didn't have to escape any double quotes, when R prints it, you'll see escaped double quotes (\")! R doesn't care how you defined the string, it only knows what the string represents, in this case, a string with double quotes inside.

When you ask R for line2 it is actually calling print(line2) and the print() method for strings displays strings as you might enter them. If you want to see the string it represents you'll need to use a different function: writeLines().

You can pass writeLines() a vector of strings and it will print them to the screen, each on a new line. This is a great way to check the string you entered really does represent the string you wanted.

Instructions
We've put your lines from Alice's Adventures in Wonderland in a vector called lines.

 - Take a look at lines to see R's representation of the strings.
 - Pass lines to writeLines() to see the content of strings you've created.
 - By default writeLines() separates the strings with a newline, which you can change using the sep argument. Write lines to the screen again, but this time set the sep argument to a space, " ".
 - Finally, try using writeLines() on the string "hello\n\U1F30D". You'll learn about what's going on here in the next exercise.

In [2]:
# Putting lines in a vector
lines <- c(line1, line2, line3)

# Print lines
print(lines)

# Use writeLines() on lines
writeLines(lines)

# Write lines with a space separator
writeLines(lines, sep=" ")

# Use writeLines() on the string "hello\n\U1F30D"
writeLines("hello\n\U1F30D")

[1] "The table was a large one, but the three were all crowded together at one corner of it:"
[2] "\"No room! No room!\" they cried out when they saw Alice coming."
[3] "\"There's plenty of room!\" said Alice indignantly, and she sat down in a large arm-chair at one end of the table."
The table was a large one, but the three were all crowded together at one corner of it:
"No room! No room!" they cried out when they saw Alice coming.
"There's plenty of room!" said Alice indignantly, and she sat down in a large arm-chair at one end of the table.
The table was a large one, but the three were all crowded together at one corner of it: "No room! No room!" they cried out when they saw Alice coming. "There's plenty of room!" said Alice indignantly, and she sat down in a large arm-chair at one end of the table. hello
<U+F30D>

### Escape sequences

You might have been surprised at the output from the last part of the last exercise. How did you get two lines from one string, and how did you get that little globe? The key is the \.

A sequence in a string that starts with a \ is called an escape sequence and allows us to include special characters in our strings. You saw one escape sequence in the first exercise: \" is used to denote a double quote.

In "hello\n\U1F30D" there are two escape sequences: \n gives a newline, and \U followed by up to 8 hex digits sequence denotes a particular Unicode character.

Unicode is a standard for representing characters that might not be on your keyboard. Each available character has a Unicode code point: a number that uniquely identifies it. These code points are generally written in hex notation, that is, using base 16 and the digits 0-9 and A-F. You can find the code point for a particular character by looking up a code chart. If you only need four digits for the codepoint, an alternative escape sequence is \u.

When R comes across a \ it assumes you are starting an escape, so if you actually need a backslash in your string you'll need the sequence \\.

Instructions
Edit the string inside writeLines() so that it correctly displays (all on one line):

To have a \ you need \\
Edit the string inside writeLines() so that it correctly displays (with the line breaks in these positions)

 - This is a really 
 - really really 
 - long string
 - Try writeLines() with the string containing unicode characters: "\u0928\u092e\u0938\u094d\u0924\u0947 \u0926\u0941\u0928\u093f\u092f\u093e". You just said "Hello World" in Hindi!

In [3]:
# Should display: To have a \ you need \\
writeLines("To have a \\ you need \\\\")

# Should display: 
# This is a really 
# really really 
# long string
writeLines("This is a really \nreally really \nlong string")

# Use writeLines() with 
# "\u0928\u092e\u0938\u094d\u0924\u0947 \u0926\u0941\u0928\u093f\u092f\u093e"
writeLines("\u0928\u092e\u0938\u094d\u0924\u0947 \u0926\u0941\u0928\u093f\u092f\u093e")

To have a \ you need \\
This is a really
really really
long string
<U+0928><U+092E><U+0938><U+094D><U+0924><U+0947> <U+0926><U+0941><U+0928><U+093F><U+092F><U+093E>

In [ ]:
> # Use writeLines() with
> # "\u0928\u092e\u0938\u094d\u0924\u0947 \u0926\u0941\u0928\u093f\u092f\u093e"
> writeLines("\u0928\u092e\u0938\u094d\u0924\u0947 \u0926\u0941\u0928\u093f\u092f\u093e")
नमस्ते दुनि

## Turning numbers into strings - Video

### Using format() with numbers

The behavior of format() can be pretty confusing, so you'll spend most of this exercise exploring how it works.

Recall from the video, the scientific argument to format() controls whether the numbers are displayed in fixed (scientific = FALSE) or scientific (scientific = TRUE) format.

When the representation is scientific, the digits argument is the number of digits before the exponent. When the representation is fixed, digits controls the significant digits used for the smallest (in magnitude) number. Each other number will be formatted to match the number of decimal places in the smallest number. This means the number of decimal places you get in your output depends on all the values you are formatting!

For example, if the smallest number is 0.0011, and digits = 1, then 0.0011 requires 3 places after the decimal to represent it to 1 significant digit, 0.001. Every other number will be formatted to 3 places after the decimal point.

So, how many decimal places will you get if 1.0011 is the smallest number? You'll find out in this exercise.

Instructions
 - Format c(0.0011, 0.011, 1) with digits = 1. This is like the example described above.
 - Now, format c(1.0011, 2.011, 1) with digits = 1. Try to predict what you might get before you try it.
 - Format percent_change by choosing the digits argument so that the values are presented with one place after the decimal point.
 - Format income by choosing the digits argument so that the values are presented as whole numbers (i.e. no places after the decimal point).
 - Format p_values using a fixed representation.

In [4]:
# Some vectors of numbers
percent_change  <- c(4, -1.91, 3.00, -5.002)
income <-  c(72.19, 1030.18, 10291.93, 1189192.18)
p_values <- c(0.12, 0.98, 0.0000191, 0.00000000002)

# Format c(0.0011, 0.011, 1) with digits = 1
format(c(0.0011, 0.011, 1),digits = 1)

# Format c(1.0011, 2.011, 1) with digits = 1
format(c(1.0011, 2.011, 1), digits = 1)

# Format percent_change to one place after the decimal point
format(percent_change, digits=2)

# Format income to whole numbers
format(income, digits=2)

# Format p_values in fixed format
format(p_values, scientific=FALSE)

[1] "0.001" "0.011" "1.000"

[1] "1" "2" "1"

[1] " 4.0" "-1.9" " 3.0" "-5.0"

[1] "     72" "   1030" "  10292" "1189192"

[1] "0.12000000000" "0.98000000000" "0.00001910000" "0.00000000002"

### Controlling other aspects of the string

Not only does format() control the way the number is represented it also controls some of the properties of the resulting string that affect its display.

For example, by default format() will pad the start of the strings with spaces so that the decimal points line up, which is really useful if you are presenting the numbers in a vertical column. However, if you are putting the number in the middle of a sentence, you might not want these extra spaces. You can set trim = TRUE to remove them.

When numbers are long it can be helpful to "prettify" them, for example instead of 1000000000 display 1,000,000,000. In this case a , is added every 3 digits. This can be controlled by the big.interval and big.mark arguments, e.g. format(1000000000, big.mark = ",", big.interval = 3, scientific = FALSE). These arguments are actually passed on to prettyNum() so head there for any further details.

Instructions
We've assigned your formatted income from the previous exercise to formatted_income.

 - Print formatted_income Notice the spaces at the start of the strings.
 - Call writeLines() on the formatted income. Notice how the numbers line up on the decimal point.
 - Define trimmed_income by using format() on income with digits = 2 and trim = TRUE.
 - Call writeLines() on trimmed_income. Notice how this removes the spaces at the start of the strings and the values line up on left.
 - Define pretty_income by using format() on income with digits = 2 and big.mark = ",".
 - Call writeLines() on pretty_income.

In [5]:
formatted_income <- format(income, digits = 2)

# Print formatted_income
print(formatted_income)

# Call writeLines() on the formatted income
writeLines(formatted_income)

# Define trimmed_income
trimmed_income <- format(income, digits = 2, trim=TRUE)

# Call writeLines() on the trimmed_income
writeLines(trimmed_income)

# Define pretty_income
pretty_income <- format(income, digits=2, big.mark=",", big.interval=3)

# Call writeLines() on the pretty_income
writeLines(pretty_income)

[1] "     72" "   1030" "  10292" "1189192"
     72
   1030
  10292
1189192
72
1030
10292
1189192
       72
    1,030
   10,292
1,189,192

In [ ]:
Phenomenal work! format() is powerful but tricky to use. An alternative is provided by formatC().

### formatC()

The function formatC() provides an alternative way to format numbers based on C style syntax.

Rather than a scientific argument, formatC() has a format argument that takes a code representing the required format. The most useful are:

 - "f" for fixed,
 - "e" for scientific, and
 - "g" for fixed unless scientific saves space
 
When using scientific format, the digits argument behaves like it does in format(); it specifies the number of significant digits. However, unlike format(), when using fixed format, digits is the number of digits after the decimal point. This is more predictable than format(), because the number of places after the decimal is fixed regardless of the values being formatted.

formatC() also formats numbers individually, which means you always get the same output regardless of other numbers in the vector.

The flag argument allows you to provide some modifiers that, for example, force the display of the sign (flag = "+"), left align numbers (flag = "-") and pad numbers with leading zeros (flag = "0"). You'll see an example in this exercise.

Instructions
The vectors income, percent_change, and p_values are available in your workspace.

 - First, compare the behavior of formatC() to format() by calling formatC() on x with format = "f" and digits = 1. This is the same vector you used with format(), do you see the difference?
 - Call formatC() on y with format = "f" and digits = 1. Notice how digits has consistent behavior regardless of the vector you format.
 - Format percent_change to one decimal place after the decimal point.
 - Format percent_change to one decimal place after the decimal point and add flag = "+". This forces the display of the sign.
 - Format p_values using format = "g" and digits = 2. This can be useful, since if there are any p-values in scientific notation, they must be < 0.0001.

In [ ]:
# From the format() exercise
x <- c(0.0011, 0.011, 1)
y <- c(1.0011, 2.011, 1)

# formatC() on x with format = "f", digits = 1
formatC(x, format="f",digits=1)

# formatC() on y with format = "f", digits = 1
formatC(y, format="f",digits=1)

# Format percent_change to one place after the decimal point
formatC(percent_change, format="f", digits=1)

# percent_change with flag = "+"
formatC(percent_change, format="f", digits=1, flag="+")

# Format p_values using format = "g" and digits = 2
formatC(p_values, format="g", digits=2)

## Putting strings together - Video

### Annotation of numbers

To get a handle on using paste(), you are going to annotate some of your formatted number strings.

The key points to remember are:

The vectors you pass to paste() are pasted together element by element, using the sep argument to combine them.
If the vectors passed to paste() aren't the same length, the shorter vectors are recycled up to the length of the longest one.
Only use collapse if you want a single string as output. collapse specifies the string to place between different elements.
Instructions
We've put the formatted vectors pretty_income and pretty_percent in your workspace along with years.

  - Paste a `$ to the front of each value in pretty_income, use sep = "", so there is no space between the $ and value.`
  - Paste a % to the end of each value in pretty_percent, use sep = "", so there is no space between the value and the %.
  - years contains the year each pretty_percent corresponds to. Use paste() to produce a vector with elements like 2010: +4.0% and assign it to year_percent.
  - Use paste() with year_percent to create single string that collapses all the years: 2010: +4.0%, 2011: -1.9%, 2012: +3.0%, 2013: -5.0%.

In [6]:
# Add $ to pretty_income
paste("$", pretty_income, sep="")
 
# Add % to pretty_percent
paste(pretty_percent,"%", sep="")

# Create vector with elements like 2010: +4.0%`
year_percent <- paste(years, ": ", pretty_percent, "%", sep="")

# Collapse all years into single string
paste(year_percent, collapse=", ")

[1] "$       72" "$    1,030" "$   10,292" "$1,189,192"

ERROR: Error in paste(pretty_percent, "%", sep = ""): object 'pretty_percent' not found

### A very simple table

Combining format() and paste() is one way to display very simple tables. Remember, since format() looks at all the values in a vector before formatting, it uses a consistent format and will, by default, align on the decimal point. This is usually the behavior you want for a column of numbers in table.

format() can also take character vectors as input. In this case, you can use the justify argument, specific to character input, to justify the text to the left, right, or center.

You are going to put together the following table:

          Year 0   $       72
          Year 1   $    1,030
          Year 2   $   10,292
Project Lifetime   $1,189,192

You'll start by formatting the columns to prepare to put them in a table, then you'll use paste() to put together each row. Then, you can use writeLines() to display each row on a new line.

Instructions
The income vector is loaded in your workspace.
`
 - Create pretty_income by using format() with digits = 2 and big.mark = ",".
 - Create dollar_income by pasting $ to pretty_income (don't forget that to set the sep argument).
 - Create formatted_names by using format() on income_names with justify = "right".
 - Create rows by pasting together formatted_names and dollar_income. Use three spaces as a separator to give some room between your columns. Be sure to surround your separator in ".
 - Call writeLines() on rows to see your table.`

In [7]:
# Define the names vector
income_names <- c("Year 0", "Year 1", "Year 2", "Project Lifetime")

# Create pretty_income
pretty_income <- format(income, digits=2, big.mark=",")

# Create dollar_income
dollar_income <- paste("$",pretty_income, sep="")

# Create formatted_names
formatted_names <- format(income_names, justify="right")

# Create rows
rows <- paste(formatted_names, dollar_income, sep="   ")

# Write rows
writeLines(rows)

          Year 0   $       72
          Year 1   $    1,030
          Year 2   $   10,292
Project Lifetime   $1,189,192

### Let's order pizza!

As a final exercise in using paste() and to celebrate getting to the end of the first chapter, let's order some pizza.

We've got a list of possible pizza toppings in toppings.

You are going to randomly select three toppings, and then put them together using paste() into an order for pizza, that should result in a string like,

"I want to order a pizza with mushrooms, spinach, and pineapple."
    
Instructions
    
 - Print my_toppings to see your random toppings.
 - Add "and " to the start of the third element by using paste() with my_toppings and a vector you define.
 - Create a vector these_toppings by using paste() to collapse my_toppings_and with a comma and space between each element.
 - Create my_order by pasting "I want to order a pizza with " to these_toppings and ending with a period, ".".
 - Order your pizza by calling writeLines() on my_order.
 - Try re-running all your code (including the sampling of toppings). You should get a brand new pizza order!

In [11]:
toppings = c("anchovies"       , "artichoke"      ,  "bacon"          ,  "breakfast bacon" ,
              "Canadian bacon" ,  "cheese"        ,   "chicken"       ,   "chili peppers"  , 
              "feta"           ,  "garlic"        ,   "green peppers" ,   "grilled onions" , 
              "ground beef"    ,  "ham"           ,   "hot sauce"     ,   "meatballs"      , 
              "mushrooms"      ,  "olives"        ,   "onions"        ,   "pepperoni"      , 
              "pineapple"      ,  "sausage"       ,   "spinach"       ,   "sun-dried tomato",
              "tomatoes")

In [12]:
# Randomly sample 3 toppings
my_toppings <- sample(toppings, size = 3)

# Print my_toppings
my_toppings

# Paste "and " to last element: my_toppings_and
my_toppings_and <- c(my_toppings[1], my_toppings[2], paste("and ", my_toppings[3], sep=""))

# Collapse with comma space: these_toppings
these_toppings <- paste(my_toppings_and, collapse=", ")

# Add rest of sentence: my_order
my_order <- paste("I want to order a pizza with ", these_toppings, ".", sep="")

# Order pizza with writeLines()
writeLines(my_order)

[1] "onions"      "ground beef" "cheese"

I want to order a pizza with onions, ground beef, and cheese.

# 2. Introduction to stringr

## Introduction to stringr - Video

### Putting strings together with stringr

For your first stringr function, we'll look at str_c(), the c is short for concatentate, a function that works like paste(). It takes vectors of strings as input along with sep and collapse arguments.

There are two key ways str_c() differs from paste(). First, the default separator is an empty string, sep = "", as opposed to a space, so it's more like paste0(). This is an example of a stringr function, performing a similar operation to a base function, but using a default that is more likely to be what you want. Remember in your pizza order, you had to set sep = "" multiple times.

The second way str_c() differs to paste() is in its handling of missing values. paste() turns missing values into the string "NA", whereas str_c() propagates missing values. That means combining any strings with a missing value will result in another missing value.

Let's explore this difference using your pizza order from the previous chapter.

Instructions
We've set up a new my_toppings vector that has a few missing values and taken the first step of creating our order.

 - Print my_toppings_and to see what paste() did with the missing values.
 - Repeat the paste() statement but instead use str_c(). You can save some typing by leaving off sep = "" since that is the default. Call this string my_toppings_str.
 - Print my_toppings_str to see what str_c() does with the missing values.
 - Take the next step in our order, by using paste() on my_toppings_and with collapse = ", ".
 - Take the next step in our order, by using str_c() on my_toppings_str with collapse = ", ". See the difference: just one NA will make our entire result NA

In [16]:
library(stringr)

my_toppings <- c("cheese", NA, NA)
my_toppings_and <- paste(c("", "", "and "), my_toppings, sep = "")

# Print my_toppings_and
print(my_toppings_and)

# Use str_c() instead of paste(): my_toppings_str
my_toppings_str <- str_c(c("", "", "and "), my_toppings, sep = "")

# Print my_toppings_str
print(my_toppings_str)

# paste() my_toppings_and with collapse = ", "
paste(my_toppings_and, collapse=", ")

# str_c() my_toppings_str with collapse = ", "
str_c(my_toppings_str, collapse =", ")

[1] "cheese" "NA"     "and NA"
[1] "cheese" NA       NA

[1] "cheese, NA, and NA"

[1] NA

Nice work! This behavior is nice because you learn quickly when you might have missing values, rather than discovering later weird "NA"s inside your strings. Another stringr function that is useful when you may have missing values, is str_replace_na() which replaces missing values with any string you choose.

### String length

Our next stringr function is str_length(). str_length() takes a vector of strings as input and returns the number of characters in each string. For example, try finding the number of characters in Batman's name:

`str_length(c("Bruce", "Wayne"))`

This is very similar to the base function nchar() but you'll see in the exercises str_length() handles factors in an intuitive way, whereas nchar() will just return an error.

Historically, nchar() was even worse, rather than returning an error if you passed it a factor, it would return the number of characters in the numeric encoding of the factor. Thankfully this behavior has been fixed, but it was one of the original motivations behind str_length().

Take your first look at babynames by asking if girls' names are longer than boys' names.

Instructions

We've pulled out just the names from 2014, and created the vectors boy_names and girl_names for you. (If you want to learn about the filter() function, take the Data Manipulation in R with dplyr course!).

 - Take a look at the boy_names vector, it's long, so use head() to see the first few elements.
 - Use str_length() on boy_names to find the length of each name and save the result to boy_length.
 - Take a look at the lengths. Again, use head(). Can you see the correspondence with boy_names?
 - Find the length of all the girls' names. Call this girl_length.
 - Find the difference in mean length between boys' and girls' names by subtracting the mean length of boys' names from that of girls' names.
 - Confirm str_length() works on factors, by calling it on factor(boy_names). Again, you'll want to just look at the head().

In [17]:
library(stringr)
library(babynames)
library(dplyr)

# Extracting vectors for boys' and girls' names
babynames_2014 <- filter(babynames, year == 2014)
boy_names <- filter(babynames_2014, sex == "M")$name
girl_names <- filter(babynames_2014, sex == "F")$name

# Take a look at a few boy_names
head(boy_names)

# Find the length of all boy_names
boy_length <- str_length(boy_names)

# Take a look at a few lengths
head(boy_length)

# Find the length of all girl_names
girl_length <- str_length(girl_names)

# Find the difference in mean length
mean(girl_length) - mean(boy_length)

# Confirm str_length() works with factors
head(str_length(factor(boy_names)))

Warning message:
"package 'babynames' was built under R version 3.3.3"Warning message:
"package 'dplyr' was built under R version 3.3.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

[1] "Noah"    "Liam"    "Mason"   "Jacob"   "William" "Ethan"

[1] 4 4 5 5 7 5

[1] 0.3360496

[1] 4 4 5 5 7 5

### Extracting substrings

The str_sub() function in stringr extracts parts of strings based on their location. As with all stringr functions, the first argument, string, is a vector of strings. The arguments start and end specify the boundaries of the piece to extract in characters.

For example, str_sub(x, 1, 4) asks for the substring starting at the first character, up to the fourth character, or in other words the first four characters. Try it with my Batman's name:

`str_sub(c("Bruce", "Wayne"), 1, 4)`

Both start and end can be negative integers, in which case, they count from the end of the string. For example, str_sub(x, -4, -1), asks for the substring starting at the fourth character from the end, up to the first character from the end, i.e. the last four characters. Again, try it with Batman:

`str_sub(c("Bruce", "Wayne"), -4, -1)`

To practice, you'll use str_sub() to look at popular first and last letters for names.

Instructions
We've set up the same boy_names and girl_names vectors from the last exercise in your workspace.

 - Use str_sub() to extract the first letter of each name in boy_names. Save this to boy_first_letter.
 - Use table() on boy_first_letter to count up how many names start with each letter. Can you see which is most popular?
 - Repeat these steps, but now look at the last letter for boys' names.
 - Again repeat, but now look at the first letter for girls' names.
 - Finally, look at the last letter for girls' names.

In [18]:
# Extract first letter from boy_names
boy_first_letter <- str_sub(boy_names, 1,1)

# Tabulate occurrences of boy_first_letter
table(boy_first_letter)
  
# Extract the last letter in boy_names, then tabulate
boy_last_letter <- str_sub(boy_names, -1,-1)
table(boy_last_letter)

# Extract the first letter in girl_names, then tabulate
girl_first_letter <- str_sub(girl_names, 1,1)
table(girl_first_letter)

# Extract the last letter in girl_names, then tabulate
girl_last_letter <- str_sub(girl_names, -1,-1)
table(girl_last_letter)

boy_first_letter
   A    B    C    D    E    F    G    H    I    J    K    L    M    N    O    P
1450  651  767  996  549  185  332  401  234 1388 1290  536  913  424  207  230
   Q    R    S    T    U    V    W    X    Y    Z
  56  778  804  771   43  160  174   56  252  379

boy_last_letter
   a    b    c    d    e    f    g    h    i    j    k    l    m    n    o    p
 421  104   92  436 1145   66   81  582  704   57  349  942  389 4664  729   32
   q    r    s    t    u    v    w    x    y    z
  19 1011  825  291   81   71   34   86  696  119

girl_first_letter
   A    B    C    D    E    F    G    H    I    J    K    L    M    N    O    P
3099  698  941  808  932  209  345  468  373 1429 1689 1121 1744  752  143  301
   Q    R    S    T    U    V    W    X    Y    Z
  38  830 1366  681   28  214   85   62  294  500

girl_last_letter
   a    b    c    d    e    f    g    h    i    j    k    l    m    n    o    p
6624   20   13   81 3111    8   21 1936 1580   12   31  450  115 2600  104    3
   q    r    s    t    u    v    w    x    y    z
   2  291  326  208   59    6   17   49 1432   51

Great job! Did you see that "A" is the most popular first letter for both boys and girls, and the most popular last letter for girls. However, the most popular last letter for boys' names was "n". You might have seen substr() a base R function that is similar to str_sub(). The big advantage of str_sub() is the ability to use negative indexes to count from the end of a string.

## Hunting for matches - Video

### Detecting matches

str_detect() is used to answer the question: Does the string contain the pattern? It returns a logical vector of the same length as that of the input vector string, with TRUE for elements that contain the pattern and FALSE otherwise.

Let's take a look at a simple example where you have a vector of strings that represent pizza orders:

`pizzas <- c("cheese", "pepperoni", 
  "sausage and green peppers")`

You can ask which orders contain the pattern "pepper", with

str_detect(pizzas, 
  pattern = fixed("pepper"))
Try it out! You should get FALSE TRUE TRUE. Notice how both pepperoni and green peppers contain the pattern of interest.

The output from str_detect() can be used to count the number of occurrences, or to subset out the strings that contain the pattern. You'll practice both to find the boys' names that contain "zz".

Instructions
 - Use str_detect() to find which boy_names contain "zz". Save the result to contains_zz.
 - Examine the structure of contains_zz with str(). It should be a logical vector the same length as boy_names.
 - To find out how many names in boy_names contain "zz", use sum() on contains_zz. Recall summing a logical vector counts how many are TRUE.
 - To find the names in boy_names that contain "zz", subset boy_names using [ and contains_zz.
 - We've also included boy_df in your workspace, a data frame that corresponds to the boys' names in 2014. Subset the rows of boy_df using contains_zz.

In [ ]:
# Look for pattern "zz" in boy_names
contains_zz <- str_detect(boy_names, "zz")

# Examine str() of contains_zz
str(contains_zz)

# How many names contain "zz"?
sum(contains_zz)

# Which names contain "zz"?
boy_names[contains_zz]

# Which rows in boy_df have names that contain "zz"?
boy_df[contains_zz,]

### Subsetting strings based on match

Since detecting strings with a pattern and then subsetting out those strings is such a common operation, stringr provides a function str_subset() that does that in one step.

For example, let's repeat our search for "pepper" in our pizzas using str_subset():

pizzas <- c("cheese", "pepperoni", "sausage and green peppers")
str_subset(pizzas, pattern = fixed("pepper"))
We get a new vector of strings, but it only contains those original strings that contained the pattern.

str_subset() can be easily confused with str_extract(). str_extract() returns a vector of the same length as that of the input vector, but with only the parts of the strings that matched the pattern. This won't be very interesting until we know about regular expressions, so we'll talk more about this in Chapter 3.

For now, you'll repeat part of the last exercise using str_subset() and then find a few other interesting names.

Instructions
    
 - Find the boy_names that contain "zz", using str_subset().
 - Find the girl_names that contain "zz".
 - Find the girl_names that contain "U" and save into starts_U. Since the pattern matching is case sensitive, this will only be names that start with "U".
 - Feed starts_U into another str_subset() that looks for "z". Combining multiple str_subset() calls is a way to find more complicated patterns.

In [ ]:
# Find boy_names that contain "zz"
str_subset(boy_names, "zz")

# Find girl_names that contain "zz"
str_subset(girl_names, "zz")

# Find girl_names that contain "U"
starts_U <- str_subset(girl_names, "U")
starts_U

# Find girl_names that contain "U" and "z"
str_subset(starts_U, "z")

### Counting matches

Another stringr function that takes a vector of strings and a pattern is str_count(). str_count() answers the question "How many times does the pattern occur in each string?". It always returns an integer vector of the same length as that of the input vector.

If you count the occurrences of "pepper" in your pizzas, you'll find no occurrences in the first, and one each in the second and third,

`pizzas <- c("cheese", "pepperoni", 
  "sausage and green peppers")
str_count(pizzas, pattern = fixed("pepper"))`

Perhaps a little more interesing is to count how many "e"s occur in each order

`str_count(pizzas, pattern = fixed("e"))`

You'll use str_count() to find some names with lots of repeated letters.

Instructions
 - Count the number of "a" in each girl_names, store in number_as.
 - Count the number of "A" in each girl_names, store in number_As.
 - Create histograms, use the hist() function, of number_as and number_As. Why is number_As only zero or one?
 - Add together number_as and number_As to get total_as.
 - Subset girl_names to only those names where total_as > 4.

In [ ]:
# Count occurrences of "a" in girl_names
number_as <- str_count(girl_names, "a")

# Count occurrences of "A" in girl_names
number_As <- str_count(girl_names, "A")

# Histograms of number_as and number_As
hist(number_as)
hist(number_As)

# Find total "a" + "A"
total_as <- number_as + number_As 

# girl_names with more than 4 a's
girl_names[total_as>4]

## Splitting strings - Video

### Parsing strings into variables

A common use for str_split() is to pull apart raw string data into more useful variables. In this exercise you'll start by pulling apart a date range, something like "23.01.2017 - 29.01.2017", into separate variables for the start of the range, "23.01.2017", and the end of the range, "29.01.2017".

Remember, if the simplify argument is FALSE (the default) you'll get back a list of the same length as that of the input vector. More commonly, you'll want to pull out the first piece (or second piece etc.) from every element, which is easier if you specify simplify = TRUE and get a matrix as output. You'll explore both of these output types in this exercise.

Instructions
 - Split date_ranges using " - " as a pattern, assign this to split_dates. Don't forget to wrap the pattern in fixed().
 - Print split_dates. The result is a list with two elements, since date_ranges was a vector of length two.
 - Now, split date_ranges again, but specify simplify = TRUE and n = 2. Print the result to see the difference. Now we get a matrix back, where each row corresponds to an element of date_ranges.
 - Pull out the first column of split_dates_n into start_dates, and the second column into end_dates.
 - Split start_dates into its day, month and year components. You are aiming for a three column matrix as the result.
 - Now you're on your own. We've provided the both_names vector, listing a couple of famous statisticians. Your job is to pull out the first names and last names into separate vectors. You'll need to use an intermediate variable, both_names_split.

In [19]:
date_ranges <- c("23.01.2017 - 29.01.2017", "30.01.2017 - 06.02.2017")

# Split dates using " - "
split_dates <- str_split(date_ranges, pattern = " - ")

# Print split_dates
print(split_dates)

# Split dates with n and simplify specified
split_dates_n <- str_split(date_ranges, pattern = " - ", simplify=TRUE, n=2)
split_dates_n

# Subset split_dates_n into start_dates and end_dates
start_dates <- split_dates_n[,1]
end_dates <- split_dates_n[,2]

# Split start_dates into day, month and year pieces
str_split(start_dates, pattern=fixed("."), simplify=TRUE, n=3)

# Split both_names into first_names and last_names
both_names <- c("Box, George", "Cox, David")
both_names_split <- str_split(both_names, pattern=", ", simplify=TRUE, n=2)
first_names <- both_names_split[,2]
last_names <- both_names_split[,1]

[[1]]
[1] "23.01.2017" "29.01.2017"

[[2]]
[1] "30.01.2017" "06.02.2017"

     [,1]       [,2]
[1,] 23.01.2017 29.01.2017
[2,] 30.01.2017 06.02.2017

     [,1] [,2] [,3]
[1,] 23   01   2017
[2,] 30   01   2017

### Some simple text statistics

Generally, specifying simplify = TRUE will give you output that is easier to work with, but you'll always get n pieces (even if some are empty, "").

Sometimes, you want to know how many pieces a string can be split into, or you want to do something with every piece before moving to a simpler structure. This is a situation where you don't want to simplify and you'll have to process the output with something like lapply().

As an example, you'll be performing some simple text statistics on your lines from Alice's Adventures in Wonderland from Chapter 1. Your goal will be to calculate how many words are in each line, and the average length of words in each line.

To do these calculations, you'll need to split the lines into words. One way to break a sentence into words is to split on an empty space " ". This is a little naive because, for example, it wouldn't pick up words separated by a newline escape sequence like in "two\nwords", but since this situation doesn't occur in your lines, it will do.

Instructions
We've put lines a vector with three strings, each corresponding to a line in your workspace.

 - Split lines into words. Assign the resulting list to words.
 - Use lapply() to apply length() to each element in words to count the number of words in each line.
 - Use lapply() to apply str_length() to each element in words, to count the number of characters in each word. Assign this to word_lengths.
 - Use lapply() to apply mean() to each element in word_lengths, to find the average word length in each line.

In [ ]:
# Split lines into words
words <- str_split(lines, pattern=" ")

# Number of words per line
lapply(words, length)
  
# Number of characters in each word
word_lengths <- lapply(words, str_length)
  
# Average word length per line
lapply(word_lengths, mean)

## Replacing matches in strings - Video

### Replacing to tidy strings

You've seen one common strategy to pull variables out of strings is to split the string based on a pattern. Sometimes, it's easier to just replace the parts you don't want with an empty string "". This is also a common strategy to clean strings up, for example, to remove unwanted punctuation or white space.

In this exercise you'll pull out some numbers by replacing the part of the string that isn't a number, you'll also play with the format of some phone numbers. Pay close attention to the difference between str_replace() and str_replace_all().

Instructions
 - Keep the numeric part of ids, by replacing "ID#: " with an empty string "".
 - Turn the ID strings to numbers using as.numeric(), assign the result to id_ints.
 - Use str_replace() on phone_numbers to replace the "-" with a space, " ". Take a close look at the output, are there still some "-"s?
 - Repeat the previous task but now use str_replace_all(). Notice the difference, all the "-"s are replaced!
 - Reformat the phone numbers to use dots instead of dashes, i.e. in the format xxx.xxx.xxxx.

In [20]:
ids <- c("ID#: 192", "ID#: 118", "ID#: 001")

# Replace "ID#: " with ""
id_nums <- str_replace_all(ids, "ID#: ", "")

# Turn id_nums into numbers
id_ints <- as.numeric(id_nums)
  
# Some (fake) phone numbers
phone_numbers <- c("510-555-0123", "541-555-0167")

# Use str_replace() to replace "-" with " "
str_replace(phone_numbers, "-", " ")

# Use str_replace_all() to replace "-" with " "
str_replace_all(phone_numbers, "-", " ")

# Turn phone numbers into the format xxx.xxx.xxxx
str_replace_all(phone_numbers, "-", ".")

[1] "510 555-0123" "541 555-0167"

[1] "510 555 0123" "541 555 0167"

[1] "510.555.0123" "541.555.0167"

### Review

You've covered a lot of stringr functions in this chapter:

`str_c()
str_length()
str_sub()
str_detect()
str_subset()
str_count()
str_split()
str_replace()`

As a review we've got a few tasks for you to do with some DNA sequences. We've put three sequences, corresponding to three genes, from the genome of Yersinia pestis – the bacteria that causes bubonic plague – into the vector genes.

Each string represents a gene, each character a particular nucleotide: Adenine, Cytosine, Guanine or Thymine.

We aren't going to tell you which function to use. It's up to you to choose the right one and specify the needed arguments. Good luck!

Instructions
 - Find the number of nucleotides in each gene.
 - Find the number of A's that occur in each gene.
 - Return the sequences that contain the sequence "TTTTTT".
 - Replace all the As in the sequences with a _.

In [ ]:
# Find the number of nucleotides in each sequence
str_length(genes)

# Find the number of A's occur in each sequence
str_count(genes, pattern=fixed("A"))

# Return the sequences that contain "TTTTTT"
str_subset(genes, pattern=fixed("TTTTTT"))

# Replace all the "A"s in the sequences with a "_"
str_replace_all(genes, pattern=fixed("A"), replacement = "_")

### Final challenges

You've mastered using stringr functions on their own, but by combining multiple operations together in sequence you can achieve quite complicated manipulations.

As the final exercise we want to expose you to the power of combining operations. You'll complete two tasks:

You'll turn a vector of full names, like "Bruce Wayne", into abbreviated names like "B. Wayne". This requires combining str_split(), str_sub() and str_c().

You'll compare how many boy names end in "ee" compared to girl names. This requires combining str_sub() with str_detect() along with the base function table().

Instructions
 - Task 1:

     - Use str_split() to create a two column matrix with the first names in one column and the last names in the other. You'll be manipulating the first name before combining it back with the second name in the next few steps.
     - Create an abbreviation of the first name, abb_first, by extracting just the first character with str_sub().
     - Use str_c() to combine abb_first with ". " and the last name column to finish the task!
     
 - Task 2:

     - Use str_sub() to extract the last two letters from all_names.
     - Create a logical, ends_in_ee that identifies whether the last_two_letters are ee, using str_detect().
     - Subset the rows of babynames_2014 using ends_in_ee and keep only the sex column. (Use the $ notation to subset the sex column.)
     - Apply table() to the result to complete the task!

In [ ]:
# --- Task 1 ----
# Define some full names
names <- c("Diana Prince", "Clark Kent")

# Split into first and last names
names_split <- str_split(names, pattern=" ", simplify=TRUE, n=2)

# Extract the first letter in the first name
abb_first <- str_sub(names_split[,1],1,1)

# Combine the first letter ". " and last name
str_c(abb_first, ". ", names_split[,2])

# --- Task 2 ----
# Use all names in babynames_2014
all_names <- babynames_2014$name

# Get the last two letters of all_names
last_two_letters <- str_sub(all_names, -2,-1)

# Does the name end in "ee"?
ends_in_ee <- str_detect(last_two_letters, "ee")

# Extract rows and "sex" column
sex <- babynames_2014[ends_in_ee,]$sex

# Display result as a table
table(sex)